body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;

  .ImageContainer {
    height: 300px;
    overflow: hidden;
    width: 100%;

    .fullWidth {
      height: 100%;
      width: auto;
    }
  }

  .Form {
    margin: auto;
    width: calc(100% - 45px);
    padding: 20px;

    .InputField {
      background-color: rgb(239, 239, 239);
      border-radius: 5px;
      border: 0px;
      display: block;
      margin: 10px auto 20px auto;
      padding: 10px 0px;
      text-align: center;
      width: 100%;
    }
    .InputField::placeholder {
      color: #000;
    }

    .SubmitButton {
      border: 0px;
      display: block;
      margin: 10px auto;
      padding: 10px 0px;
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: rgb(239, 239, 239);
      }
    }
  }

  .TableContainer {
    width: calc(100% - 45px);
    margin:  10px auto 50px auto;

    .Subtitle {
      text-align: left;
    }

    .Table {
      width: 100%;

      .TableHead {
        .TableRow {
          .TableBoldData {
            text-align: center;
          }
        }
      }

      .TableBody {
        .TableRow {
          .TableData {
            text-align: center;
          }
        }
      }
    }
  }

  .DeleteButton {
    background: red;
    border-radius: 50%;
    border: 0px;
    color: #fff;
    font-weight: bold;
    margin: 5px;
    padding: 3px 7px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: red;
    }
  }
}